.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* font-family: "Arial, sans-serif"; */
  padding: 50px 0;
  margin: auto;
}
.content {
  display: flex;
  flex-direction: row;
}
.buttons {
  display: flex;
  flex-direction: column;
  width: 10%;
  padding: 30px;
}

.btn {
  margin-bottom: 15px;
  border: 1px solid gray;
}
.btn:hover {
  background-color: #17357a;
  color: white;
}
.chart {
  width: 90%;
  height: 100%;
}
.title1 {
  margin-bottom: 20px;
}
.title2 {
  margin: 50px 0;
  color: black;
}
a:hover {
  text-decoration: none;
}
.data-table {
  margin: 40px 0;
}

.hidden {
  display: none;
}
.noborder td,
.noborder th {
  border-top: none !important;
}

.table tbody tr :nth-child(7),
.table thead :nth-child(7) {
  /* border-left: 1px solid red; */
  border-right: 1px solid rgb(207, 204, 204);
}
